.btn {
    border: 0 !important;
    padding: 6px 12px !important;
    font-family: "Rubik", sans-serif;
    font-weight: 400 !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    &[disabled] {
        cursor: not-allowed;
    }
    &.disabled{
        pointer-events: none !important;
    }

    * {
        font-size: 12px !important;
    }

    &.btn-blue {
        background: #0188d1;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #0188d1 !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }
    &.btn-success {
        background: #00a65a;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #00a65a !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-dark-green{
        background: #1d5b7e;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #1d5b7e !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    // &.btn-primary{
    //     background: #0069ff;
    //     color: #fff;
    //     &:hover, &:active, &:focus {
    //         background-color: #0069ff !important;
    //         color: #ffffff !important;
    //     }
    // }
    // &.btn-success{
    //     background: #218838;
    //     color: #fff;
    //     &:hover, &:active, &:focus {
    //         background-color: #218838 !important;
    //         color: #ffffff !important;
    //     }
    // }

    &.btn-dark-nav{
        background: #265393 !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #265393 !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-navy{
        background: #0354a6 !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #0354a6 !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-gray {
        background: #526484 !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #526484 !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-dark {
        background: #4e4e5a !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #4e4e5a !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-voilet {
        background: #3B1D7B !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #3B1D7B !important;
            color: #ffffff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-yellow {
        background: #ECB72F !important;
        color: #000;
        &:hover, &:active, &:focus {
            background-color: #ECB72F !important;
            color: #000 !important;
            box-shadow:unset !important;
        }
    }

    &.btn-red {
        background: #bb251a !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #bb251a !important;
            color: #fff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-ash {
        background: #475467 !important;
        color: #fff;
        &:hover, &:active, &:focus {
            background-color: #475467 !important;
            color: #fff !important;
            box-shadow:unset !important;
        }
    }

    &.btn-border-ash {
        background: #fff !important;
        border: 2px solid #98A2B3 !important;
        color: #000;
        padding: 5px 8px !important;
        &:hover, &:active, &:focus {
            background-color: #fff !important;
            color: #000 !important;
            box-shadow:unset !important;
        }
    }

    &.btn-default {
        background: #ecf0f1 !important;
        color: #000;
        &:hover, &:active, &:focus {
            background-color: #ecf0f1 !important;
            color: #000 !important;
            box-shadow:unset !important;
        }
    }

    &.btn-warning {
        background: #ec971f !important;
        color: #fff !important;
        &:hover, &:active, &:focus {
            background-color: #ec971f !important;
            color: #fff !important;
            box-shadow:unset !important;
        }
        &.dropdown-toggle {
            ::after {
                color: #fff !important;
            }
        }
    }
}
