@use "../mixins/breakpoints" as *;
.header {
  background-color: #fff !important;
  padding: 10px 20px !important;

  h4 {
    color: #7267ef !important;
    font-weight: 600;
    letter-spacing: 1px;
  }

    .dropdown {
        .btn.dropdown-toggle {
            color: #f6f6f6;
            padding: 0px !important;
            &::after{
                display: none !important;
            }
            svg{
                margin-top: 1px !important;
                font-size: 18px !important;
            }
        }
        ul.dropdown-menu {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            max-width: 250px !important;
            min-width: 250px !important;
            border: 0 !important;
            border-radius: 0px !important;
            padding: 5px 0;

            @include media-min($screen-md) {
                width: 100%;
                max-width: 280px !important;
                min-width: 280px !important;
            }

            li {

                a {
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 10px 12px !important;
                cursor: pointer;
                color: #555 !important;
                background-color: transparent !important;
                transition: background 0.2s ease;

                &:hover,
                &:focus {
                    background-color: #f2f2f2 !important;
                    color: #333 !important;
                }
                }
            }
        }
        ul.notification-card{
            .card{
                border-radius: 0px !important;
            }
            .card-header,.card-footer{
                padding: 10px !important;
            }
            .card-header{
                color: #333 !important;
                font-weight: 500;
                letter-spacing: 1px;
            }
            .card-body{
                padding: 10px 20px !important;
            }
        }
    }
    .user-details {
        color: #525b69;
        .user-name{
            font-size: 15px;
            font-weight: 600;
        }
        .user-desc{
            font-size: 13px;
            font-weight: 400;
        }
    }
}

